{% extends "base.html" %}
{% load static %}

{%block content%}

{%if user.is_authenticated%}
<h2 style="padding: 10px;">Welcome {{user.username}}</h2>
{%else%}

<form style="padding-left:400px; padding-top:100px; padding-right:400px;" action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="username" class="form-label">username</label>
      <input type="username" class="form-control" id="username" aria-describedby="username" name="username">
      <div id="username" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">log-in</button>
</form>
{%endif%}

{%endblock%}